.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } .THIS .none{
 display:none; 
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .comm-layout-column {
    font-size: 16px;
}

.THIS .slds-input {
    border-color: black;
}

.THIS .slds-select {
    border-color: black;
}
.THIS .canConfirmBtn{
    background-color:black;
}

.THIS .slds-checkbox_faux {
    border-style: ridge;
}

.THIS .modelTxt {
    color: #696969;
    font-size: 16px;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    margin-bottom: 10px;
}


.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: inline;
    vertical-align: middle;
    font-size: 16px;

}