@charset 'UTF-8';


@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-Light.woff2) format("woff2"),url(fonts/SalesforceSans-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-LightItalic.woff2) format("woff2"),url(fonts/SalesforceSans-LightItalic.woff) format("woff");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-Regular.woff2) format("woff2"),url(fonts/SalesforceSans-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-Italic.woff2) format("woff2"),url(fonts/SalesforceSans-Italic.woff) format("woff");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-Bold.woff2) format("woff2"),url(fonts/SalesforceSans-Bold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url(fonts/SalesforceSans-BoldItalic.woff2) format("woff2"),url(fonts/SalesforceSans-BoldItalic.woff) format("woff");
    font-style: italic;
    font-weight: 700;
}

.agentConsole, .agentConsole textarea, .agentConsole .modalDialogPanel .ui-widget-content, .agentConsole input, .agentConsole .agentStateControl .agentStatePanel .cStatePanel .stateDesc,
.agentConsole .agentStateControl .agentStatePanel .nStatePanel .stateTimer, .agentConsole .dialPadPanel .dialPanel .dialElementBg,
.agentConsole .dispComboText, .agentConsole .secDispComboText, .agentConsole .agentStateControl .agentStatePanel .nStatePanel .stateDesc,
.agentConsole .agentStateControl .agentStatePanel .menu .menuItem, .agentConsole td, .agentConsole .contentPanel .ContactRootPnl .ChatPnl .contactResultControl .contactResultPanel,
.agentConsole .optionPanel .userInfoHeader .btnStyle, .agentConsole .optionPanel .userInfoHeader .btnLogout, .agentConsole .optionPanel .userInfoHeader .logCombo .cComboBox,
.agentConsole .optionPanel .userInfoHeader .userText, .agentConsole .defaultSearchText, .agentConsole .contactHistory .searchPanel .txtDiv .watermark,
.agentConsole .contentPanel .contactsRootPanel .contactResultControl .contactResultPanel, .agentConsole .addPlaceHolderColor, .agentConsole .addTextColor,
.agentConsole .contentPanel .contactsRootPanel .contactResultControl .contactResultPanel .noResult, .agentConsole .agentStateControl .agentStatePanel .cStatePanel .skillTimer,
.agentConsole .contentPanel .ContactRootPnl .campPnl .dialerInfo, .agentConsole .contentPanel .ContactRootPnl .prvPnl .dialerInfo
 {
    color: rgb(84, 105, 141);
}

    .agentConsole, .agentConsole input, .agentConsole textarea, .agentConsole .ui-widget-content, .agentConsole .agentStateControl .agentStatePanel .cStatePanel .stateDesc,
    .agentConsole .dialPadPanel .dialPanel .dialElementBg, .agentConsole .agentStateControl .agentStatePanel .menu .menuItem,
    .agentConsole .defaultSearchText, .agentConsole input, .agentConsole .txtNotes, .agentConsole .notesTxt, .agentConsole .ui-widget, .agentConsole table,
    .agentConsole tr, .agentConsole td, .agentConsole th, .datepickerDlg .ui-widget, .datepickerDlg table,
    .datepickerDlg tr, .datepickerDlg td, .datepickerDlg th {
        font-family: Salesforce Sans;
    }
   
.agentConsole .bgHeaderGradient, .agentConsole .bgFooterGradient {
    background: rgb(0, 57, 107);
}

.agentConsole .modalDialogHeader {
    background-color: rgb(84, 105, 141);
}

.agentConsole .footer .divOptionSelected {
    background: rgb(0, 57, 107);
}

.agentConsole .optionPanel {
    background: rgba(0, 57, 107, 0.9);
}

.agentConsole .ui-state-default.slick-header-column.slick-header-column-sorted {
    background: -webkit-linear-gradient(#f7f9fb, #f7f9fb);
    background: -moz-linear-gradient(#f7f9fb, #f7f9fb);
    background: -ms-linear-gradient(#f7f9fb, #f7f9fb);
    background: -o-linear-gradient(#f7f9fb, #f7f9fb);
    background: linear-gradient(#f7f9fb, #f7f9fb);
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f9fb, endColorstr=#f7f9fb, GradientType=1)';
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f9fb', EndColorStr='#f7f9fb', GradientType=0);
    border-bottom-style: solid;
    border-bottom-color: #1589ee;
    border-bottom-width: 2px;
}

.agentConsole .slick-header-column {
    background: -webkit-linear-gradient(#f7f9fb, #f7f9fb);
    background: -moz-linear-gradient(#f7f9fb, #f7f9fb);
    background: -ms-linear-gradient(#f7f9fb, #f7f9fb);
    background: -o-linear-gradient(#f7f9fb, #f7f9fb);
    background: linear-gradient(#f7f9fb, #f7f9fb);
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f9fb, endColorstr=#f7f9fb, GradientType=1)';
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f9fb', EndColorStr='#f7f9fb', GradientType=0);
}

.agentConsole .slick-column-name {
    color: rgb(22, 50, 92);
    font-weight: 400;
}

.agentConsole .footer .divQueuePanelSelected {
    padding-top: 5px !important;
    padding-left: 0px !important;
    border-left: 1px #CCCCCC solid;
    border-top: 1px #CCCCCC solid;
    width: 164px;
    /*height: 27px;*/
}

.agentConsole .footer .divQueuePanel {
    padding-top: 6px;
    padding-bottom: 4px;
    float: left;
    overflow: hidden;
    width: 173px;
}

.agentConsole .contentPanel .contactsRootPanel .contactResultControl .contactResultPanel .hdrSelectedLeft {
    background: rgb(84, 105, 141);
    background-image: linear-gradient(rgb(84, 105, 141), rgb(84, 105, 141)) !important;
}

.agentConsole .contentPanel .contactsRootPanel .contactResultControl .contactResultPanel .hdrSelectedRight {
    background: rgb(84, 105, 141);
    background-image: linear-gradient(rgb(84, 105, 141), rgb(84, 105, 141)) !important;
}

.agentConsole .optionPanel .errorPanel {
    width: 168px;
    max-height: 75px;
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #FF0000;
    word-wrap: break-word;
    font-weight: bold;
}

.agentConsole .popupDiv .msgDiv .eMsg {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.agentConsole .parkedEmail .fromAddr {
    white-space: nowrap;
    font-size: 14px;
    padding-bottom: 8px;
}

.agentConsole .tagsPnlFromDisp {
    position: fixed;
    z-index: 101;
    bottom: 67px;
}